<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThreeDays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ThreeDaysWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4430A9B826857A5900702552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444461022662291500DBF7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44959CE1268330570079D97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>449D3E13263AF3B10095DC12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CEEAFB2662359300518FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CEEB332662466100518FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
